.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

button{
    background-color: green !important;
    color: white !important;
    border-radius: 10px;
    border-color: green !important;
    font-weight: light bold;
    height: 30px !important;
    width: 150px;
}

button:hover{
    background-color: darkgreen !important;
    border-color: darkgreen !important;
    cursor: pointer;
}